In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("active_listening_job_title.xlsx")
df2 = pd.read_excel("math_job_title.xlsx")
df3 = pd.read_excel("speaking_job_title.xlsx")
df4 = pd.read_excel("writing_job_title.xlsx")
df5 = pd.read_excel("reading_comprehension_job_title.xlsx")
df6 = pd.read_excel("science_job_title.xlsx")

In [3]:
df1.head()

,Unnamed: 0,job_name,id,importance,level,job_zone
0,0,"Judges, Magistrate Judges, and Magistrates",23-1023.00,100,84,5
1,1,Marriage and Family Therapists,21-1013.00,97,71,5
2,2,"Child, Family, and School Social Workers",21-1021.00,97,68,4
3,3,Mental Health Counselors,21-1014.00,94,70,5
4,4,Psychiatrists,29-1223.00,91,71,5

In [4]:
job_title_list = []
for i in [df1,df2,df3,df4,df5,df6]:
    job_title_list = job_title_list+list(i['job_name'])
job_title_list[:10]

['Judges, Magistrate Judges, and Magistrates',
 'Marriage and Family Therapists',
 'Child, Family, and School Social Workers',
 'Mental Health Counselors',
 'Psychiatrists',
 'Clinical and Counseling Psychologists',
 'Lawyers',
 'Labor Relations Specialists',
 'Farm and Home Management Educators',
 'Arbitrators, Mediators, and Conciliators']

In [6]:
job_title_list_new = [i.rstrip("s").lower() for i in job_title_list]
job_title_list_new = list(set(job_title_list_new))
len(job_title_list_new)

873

In [7]:
df_original = pd.read_excel("title_final.xlsx")
df_original.head()

   Unnamed: 0                   job_title
0           0        marketing specialist
1           1           marketing manager
2           2          marketing director
3           3            graphic designer
4           4  marketing research analyst

In [9]:
job_title_list_old = list(df_original['job_title'])
job_title_list_final = list(set(job_title_list_new+job_title_list_old))
print(job_title_list_final[:10])
len(job_title_list_final)

['line cook', 'funeral home manager', 'electromechanical equipment assembler', 'quality control analyst', 'cutting, punching, and press machine setters, operators, and tenders, metal and plastic', 'railroad conductors and yardmaster', 'adult basic education, adult secondary education, and english as a second language instructor', 'first-line supervisors of helpers, laborers, and material movers, hand', 'training and development specialist', 'telecommunications equipment installers and repairers, except line installer']

1272

In [10]:
df_final = pd.DataFrame({"job_title":job_title_list_final})
df_final.to_excel("title_final.xlsx")