In [1]:
import pandas as pd
import re
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

### reading new job list

In [2]:
df_more = pd.read_excel("more_majors.xlsx")
df_more

             articles_candidateedu_202207191537
0                                         major
1                                           NaN
2          Anthropology and Business Management
3                        International Business
4                                       English
...                                         ...
4762                           MetacoGG content
4763     English Translation and Interpretation
4764                                 环境工程, 知识产权
4765  Professional Studies, Digital Photography
4766        Imaging and Photographic Technology

[4767 rows x 1 columns]

In [3]:
df_more.columns = df_more.iloc[0]
df_more.drop(df_more.index[0],inplace=True)
df_more.head()

0                                 major
1                                   NaN
2  Anthropology and Business Management
3                International Business
4                               English
5                                   NaN

In [4]:
df_more.dropna(inplace=True)
df_more

0                                         major
2          Anthropology and Business Management
3                        International Business
4                                       English
6              Computer Science and Engineering
7             Bachelor of Science in Accounting
...                                         ...
4762                           MetacoGG content
4763     English Translation and Interpretation
4764                                 环境工程, 知识产权
4765  Professional Studies, Digital Photography
4766        Imaging and Photographic Technology

[4764 rows x 1 columns]

In [5]:
new_major_list = list(set([i.lower() for i in df_more['major']]))
len(new_major_list)

4764

### cleaning

In [6]:
new_major_list_1 =[]
import spacy
nlp = spacy.load("en_core_web_sm")
lemmatizer = nlp.get_pipe("lemmatizer")

for i in new_major_list: 
    i_1 = i.replace("master of science,","").replace("master in science,","").replace("master of science in","").replace("master of art,","").replace("master in art","").replace("master of art in","").replace("master,","").replace("masters of","").replace("masters in","").replace("master's degree in","").replace("masters","").replace("msater","").replace("(ms),","").replace("(msc.)","").replace("(msc) in","").replace("(msc),","").replace("msc of","").replace("(m.s.) in","").replace("(m.s.e.) of","").replace("m.s. in","").replace("m.s.","").replace("ms of","").replace("ms in","").replace("ms,","").replace("ms,","").replace("(m. a. sc),","").replace("(m.a.) in","").replace("ma in","").replace("professional diploma in","").replace("diploma in","").replace("postgraduate","")
    i_2 = i_1.replace("bachelor of science,","").replace("bachelor in science,","").replace("bachelor of science in","").replace("bachelor of art,","").replace("bachelor in art","").replace("bachelor of art in","").replace("bachelor,","").replace("bachelors of","").replace("bachelors in","").replace("bachelor's degree in","").replace("bachelors","").replace("bachelor","").replace("(bs),","").replace("(bsc.)","").replace("(bsc) in","").replace("(bsc),","").replace("bsc of","").replace("(b.s.) in","").replace("(b.s.e.) of","").replace("b.s. in","").replace("b.s.","").replace("bs of","").replace("bs in","").replace("bs,","").replace("bs,","").replace("(b. a. sc),","").replace("(b.a.) in","").replace("ba in","")
    i_3 = re.sub(r".{0,1}m.{0,1}b.{0,1}a.{0,2}(in|of|)","",i_2)
    i_4 = re.sub('[^a-zA-Z&-/.,]'," ",i_3)
    i_5 = [word for word in i_4.split() if not word in set(stopwords.words("english"))]
    i_7 = " ".join(i_5).strip()
    doc = nlp(i_7)
    new_major_list_1.append(" ".join([token.lemma_ for token in doc]))

print(new_major_list_1[:10])
len(new_major_list_1)

['marketing', 'psychology & economic', 'innovation organizational ef ectiveness', 'management technology', 'telecommunicaton engineer tech', 'computer system & network', 'electronics & computer engineering', 'ee communication', 'technology', 'human resource management & management']

4764

In [7]:
# second round of cleaning
new_major_list_2 = []
for i in new_major_list_1:
    if "/" in i:
        temp_list = i.split("/")
        for sep_ele in temp_list:
            new_major_list_2.append(sep_ele.strip())
    else:
        new_major_list_2.append(i)

print(new_major_list_2[:10])
len(new_major_list_2)

['marketing', 'psychology & economic', 'innovation organizational ef ectiveness', 'management technology', 'telecommunicaton engineer tech', 'computer system & network', 'electronics & computer engineering', 'ee communication', 'technology', 'human resource management & management']

4914

In [8]:
new_major_list_3 = []
for i in new_major_list_2:
    if "." in i:
        continue
    else:

        i_1 = re.sub(r"\(.*?\)","",i)

        if "(" in i_1:
            i_2 = i_1.split("(")[0]
        elif ")" in i_1:
            i_2 = i_1.split(")")[1]
        else:
            i_2 = i_1
        detect = i_2.strip()

        temp_l = []
        for item in detect.split():
            if len(item)<=2:
                continue
            else:
                temp_l.append(item)
        i_3 = " ".join(temp_l).replace("  "," ").strip()
        new_major_list_3.append(i_3)

    
print(new_major_list_3[:10])
len(new_major_list_3)

['marketing', 'psychology economic', 'innovation organizational ectiveness', 'management technology', 'telecommunicaton engineer tech', 'computer system network', 'electronics computer engineering', 'communication', 'technology', 'human resource management management']

4797

In [9]:
new_major_list_4 = []
for i in new_major_list_3:
    if len(i.strip())<=3:
        continue
    else:
        if "," in i:
            for ele in i.split(","):
                new_major_list_4.append(ele.strip())
        else:
            new_major_list_4.append(i)
    
new_major_list_5 = []
for i in new_major_list_4:
    i_4 = i.replace("  ","").strip()
    i_5 = [word for word in i_4.split() if not word in set(stopwords.words("english"))]
    i_7 = " ".join(i_5).strip()
    doc = nlp(i_7)
    new_major_list_5.append(" ".join([token.lemma_ for token in doc]))


print(new_major_list_5[:10])
len(new_major_list_5)

['marketing', 'psychology economic', 'innovation organizational ectiveness', 'management technology', 'telecommunicaton engineer tech', 'computer system network', 'electronic computer engineering', 'communication', 'technology', 'human resource management management']

4525

In [10]:
new_major_list_5 = list(set(new_major_list_5))
len(new_major_list_5)

3732

### merging job list

In [11]:
df_original = pd.read_excel("major.xlsx")
df_original.head()

   Unnamed: 0                         major
0           0         public administration
1           1  german language & literature
2           2    visual and performing arts
3           3    medical office/secretarial
4           4                medical office

In [12]:
original_major_list = list(df_original['major'])
len(original_major_list)

569

In [13]:
merged_list = list(set(new_major_list_5+original_major_list))
len(merged_list)

4186

In [14]:
temperory_explore = pd.DataFrame({"major":merged_list})
temperory_explore.to_excel("temp_merged_major.xlsx")