In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("student_major.csv")
df2 = pd.read_csv("student_major2.csv")

### explore data

In [3]:
df1.head()

   Unnamed: 0                          Major Name
0           0                Agriculture, General
1           1             Agribusiness Operations
2           2  Agricultural Business & Management
3           3              Agricultural Economics
4           4          Agricultural Mechanization

In [4]:
df1.shape

(294, 2)

In [5]:
df2.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [6]:
df2.shape

(173, 11)

### merge data

In [7]:
major1 = df1['Major Name'].unique()

In [8]:
major2 = df2['Major'].unique()

In [9]:
major_pre = list(set(list(major1)+list(major2)))
len(major_pre)

467

### clean data

In [10]:
major_pre = list(set([i.lower() for i in major_pre if type(i)==str]))
len(major_pre)

437

In [11]:
# explore format
major_explore = pd.DataFrame({"major":major_pre})
major_explore.to_excel("exploredata.xlsx")

In [12]:
# expand dataset 1: delete "general" and * in the string
major = []
for i in major_pre:
    new_i = i.replace(", general","").replace("general ","").replace("*","")
    major.append(new_i)

In [13]:
# expand dataset 2: if have (e.g.), delete them
major_2 = []
for i in major:
    new_i = i.split(" (e.g.")[0]
    major_2.append(new_i)

major_2[:5]

['public administration',
 'german language & literature',
 'visual and performing arts',
 'medical office/secretarial',
 'zoology']

In [14]:
# expand dataset 3: if have (), delete directly
major_3 = []
for i in major_2:
    new_i = i.split(" (")[0]
    major_3.append(new_i)

In [19]:
# expand dataset 4: if have /, split it
major_4 = []
for i in major_3:
    single1 = []
    single2 = []
    major_4.append(i)
    if "/" in i:
        for single_word in i.split(" "):
            if "/" in single_word:
                single1.append(single_word.split("/")[0])
                single2.append(single_word.split("/")[1])
            else:
                single1.append(single_word)
                single2.append(single_word)
        extra1 = " ".join(single1)
        extra2 = " ".join(single2)
        major_4.append(extra1)
        major_4.append(extra2)
    else:
        continue

major_4[:10]

['public administration',
 'german language & literature',
 'visual and performing arts',
 'medical office/secretarial',
 'medical office',
 'medical secretarial',
 'zoology',
 'design & visual communications',
 'insurance & risk management',
 'classical/ancient languages & literatures']

In [20]:
major_df = pd.DataFrame({"major":major_4})
major_df.to_excel("major.xlsx")