In [1]:
import pandas as pd
from lxml import etree
from selenium import webdriver

import time

In [2]:
# escape the detection of chrome and set headless chrome
options = webdriver.ChromeOptions()
options.add_experimental_option("useAutomationExtension", False)
options.add_experimental_option("excludeSwitches",["enable-automation"])
options.add_argument("--headless")
options.add_argument("--disable-gpu")

web = webdriver.Chrome(chrome_options=options)

/var/folders/35/qlk674y12zz_m3zs5h1ht6_c0000gn/T/ipykernel_3595/2698783845.py:8: DeprecationWarning: use options instead of chrome_options
  web = webdriver.Chrome(chrome_options=options)

In [3]:
df = pd.read_excel("active_listening_job_title.xlsx")
df.head()

,Unnamed: 0,job_name,id,importance,level,job_zone
0,0,"Judges, Magistrate Judges, and Magistrates",23-1023.00,100,84,5
1,1,Marriage and Family Therapists,21-1013.00,97,71,5
2,2,"Child, Family, and School Social Workers",21-1021.00,97,68,4
3,3,Mental Health Counselors,21-1014.00,94,70,5
4,4,Psychiatrists,29-1223.00,91,71,5

In [4]:
url_base = "https://www.onetonline.org/link/summary/"

In [5]:
each_position_list_skill_name = []
each_position_list_skill_set = []
each_position_list_id = []
for id in df['id']:
    url = url_base+id.strip()
    web.get(url)
    text = web.page_source
    tree = etree.HTML(text)
    try:
        tech_skills = tree.xpath("/html/body/div/div[1]/div/div[2]/div[5]/div[2]/div/ul/li")
        skill_set = {}
        for each_tech in tech_skills:
            skill_name = each_tech.xpath("./div/div[1]/b/text()")[0]
            skills = each_tech.xpath("./div/div[1]/text()")
            skills_clean = [skill.strip().lstrip("— ") for skill in skills]
            int_skills_str = "".join(skills_clean)
            skill_final = int_skills_str.split(";")
            skill_final = [skill_each.strip() for skill_each in skill_final]
            each_position_list_skill_name.append(skill_name)
            each_position_list_skill_set.append(skill_final)
            each_position_list_id.append(id)
    except:
        print(id)

In [6]:
'''
#resp = requests.get("https://www.onetonline.org/link/summary/15-2021.00",headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36"})
#text = resp.text
web.get("https://www.onetonline.org/link/summary/15-2021.00")
text = web.page_source
tree = etree.HTML(text)
tech_skills = tree.xpath("/html/body/div/div[1]/div/div[2]/div[5]/div[2]/div/ul/li")
skill_set = {}
each_position_list_skill_name = []
each_position_list_skill_set = []
for each_tech in tech_skills:
    skill_name = each_tech.xpath("./div/div[1]/b/text()")[0]
    skills = each_tech.xpath("./div/div[1]/text()")
    skills_clean = [skill.strip().lstrip("— ") for skill in skills]
    int_skills_str = "".join(skills_clean)
    skill_final = int_skills_str.split(";")
    skill_final = [skill_each.strip() for skill_each in skill_final]
    each_position_list_skill_name.append(skill_name)
    each_position_list_skill_set.append(skill_final)

    
print(each_position_list_skill_name)
print(each_position_list_skill_set)
    #skills = each_tech.xpath("./div/div[1]/text()")
    #skill_str = "".join(skills)
    #skill_set[skill_name] = skill_str
# /html/body/div/div[1]/div/div[2]/div[5]/div[2]/div/ul/li[1]/div/div[1]/b

# name = each_ele.xpath("./div/div[1]/b/text()")
'''

'\n#resp = requests.get("https://www.onetonline.org/link/summary/15-2021.00",headers={"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36"})\n#text = resp.text\nweb.get("https://www.onetonline.org/link/summary/15-2021.00")\ntext = web.page_source\ntree = etree.HTML(text)\ntech_skills = tree.xpath("/html/body/div/div[1]/div/div[2]/div[5]/div[2]/div/ul/li")\nskill_set = {}\neach_position_list_skill_name = []\neach_position_list_skill_set = []\nfor each_tech in tech_skills:\n    skill_name = each_tech.xpath("./div/div[1]/b/text()")[0]\n    skills = each_tech.xpath("./div/div[1]/text()")\n    skills_clean = [skill.strip().lstrip("— ") for skill in skills]\n    int_skills_str = "".join(skills_clean)\n    skill_final = int_skills_str.split(";")\n    skill_final = [skill_each.strip() for skill_each in skill_final]\n    each_position_list_skill_name.append(skill_name)\n    each_position_list_skill_set.append(skill_final)\n\n    \nprint(each_position_list_skill_name)\nprint(each_position_list_skill_set)\n    #skills = each_tech.xpath("./div/div[1]/text()")\n    #skill_str = "".join(skills)\n    #skill_set[skill_name] = skill_str\n# /html/body/div/div[1]/div/div[2]/div[5]/div[2]/div/ul/li[1]/div/div[1]/b\n\n# name = each_ele.xpath("./div/div[1]/b/text()")\n'

In [7]:
active_listening_skill = pd.DataFrame({"id":each_position_list_id,"skill_name":each_position_list_skill_name,"skill_set":each_position_list_skill_set})
active_listening_skill.to_excel("active_listening_skillset.xlsx")